.selectedDay{
    width: 50%;
    background-color: #38CEC4;
}
.nameOfDay{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #F5F5F5;
}
.currentDay{
    font-size: 10rem;
    text-align: center;
    margin-top:90px;
    color: #F5F5F5;
    font-weight: 200;
}